<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shuxin.mapper.TimeoutMapper" >
 	
 	
	<select id="getTimeoutCheck" resultType="map">
		select 
			a.brid
			,a.jzxh
			,a.jsonblob
			,a.happening 
		from 
			vi_ybsh_timeout a
			,(select jzxh, max(happening) max_time from vi_ybsh_timeout group by jzxh) b 
		where 
			a.happening = b.max_time and a.jzxh = b.jzxh
      		and to_char(happening,'yyyymmdd') = to_char(sysdate,'yyyymmdd') 
      		and a.jsonblob is not null
		<if test=" list != null ">
			<foreach collection="list" open=" and a.jzxh in (" close=")" item="item" separator="," >
				#{item}
			</foreach>
		</if>
		order by happening desc
	</select>
	
	<select id="getString" resultType="map">
		select * from vi_ybsh_timeout where to_char(happening,'yyyymmdd') = to_char(sysdate,'yyyymmdd') and jzxh='227926'
	</select>
	
<!-- 漏审审核信息 -->
<select id="getTimeoutHasCheckedDataGrid" resultType="map">
	select  a.* ,nvl(b.gzmc,'-') as ifzdwg from
		(
		select distinct
		    to_char(b.INHOSPDATE, 'yyyy-mm-dd') as jzrq,
		    b.PATIDCARD as sfzhm,
		    b.PATNAME as hzxm,
		    b.PATAGE as nl,
		    decode(b.PATGENDER,1,'男',2,'女','-') as xb,
		    b.PATINSUREDTYPE as cblx,
		    b.INHOSPDEPTNAME as ksmc,
		    b.PHYSICIANNAME as ysxm,
		    b.DIAINHOSPNAME as jbmc,
		    b.PATMEDINSUCARD as ybkh,
		    b.DIASERIALCODE as lsh,
		    b.TOTALCOST as ylf,
		    b.MEDINSTOTALCOST as ybnje,
		    a.klyy	as  klyy
		from   DM_GZSH_WGMX a,
		     dm_gzsh_patientinfo b
		where 
			a.wgdjh=b.DIASERIALCODE
			<if test=" ksbm != null and ksbm != '' and ksbm != '0'.toString() ">
				and b.INHOSPDEPTCODE = #{ksbm}  
			</if>
		) a,
		(
		select 
		  wgdjh , 
		  listagg(gzmc,',') within group ( order by wgdjh) as gzmc 
		from( 
		select distinct
		    wgdjh,
		    case when gzbm in('1012','1013','1014','3001','3002','3003','3004','3005','3006','3007','3008','3009','4001')
		    then gzmc 
		    else null end  gzmc
		  from DM_GZSH_WGMX
		    )
		  group by
		  wgdjh
		) b,
		(
      	select jzxh from
	        (select 
	          jzxh
	          ,max(to_char(happening,'yyyy-mm-dd')) max 
	        from 
	          dm_gzsh_lsshjl 
	        group by jzxh
	        ) 
	    <where>
			<if test=" ldate != null and ldate != '' ">
				and max <![CDATA[>=]]>#{ldate}
			</if>
			<if test=" hdate != null and hdate != '' ">
				and max <![CDATA[<=]]>#{hdate}
			</if>
		</where>
    	) c
		where a.lsh=b.wgdjh(+)
			  and a.lsh = c.jzxh
		order by
		a.jzrq desc,
		a.lsh
</select>

</mapper>